{% extends "./index.html" %}

{% block pageTitle %}
    Adicionar Tarefa
{% endblock pageTitle %}
{% block localCss %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/taskAdd.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/input.css' %}" />
{% endblock localCss %}

{% block header %}
  <button class="goBack-btn" onclick="history.back()">Voltar</button>
{% endblock header %}

{% block content %}
  <section>
    <form action="/task/add/" method="POST">
      {% csrf_token %}
      <h2>Adicionar Tarefa</h2>
      <label for="title" class="label">
        <input id="title" class="input" name="title" type="text" autoComplete="off" required />
        <span class="span">Titulo</span>
      </label>
      <label for="description" class="label">
        <input id="description" class="input" name="description" type="text" autoComplete="off" required />
        <span class="span">Descrição</span>
      </label>
      <label for="status">
        <span>Status</span>
        <select id="status" name="status" required disabled>
          <option value="0" selected>Pendente</option>
        </select>
        <input type="hidden" name="status" value="0" /> {% comment %} input
        invisivel para conseguir enviar sem erros {% endcomment %}
      </label>
      <label for="person">
        <span>Pessoa(s) Associada(s)</span>
        <select id="person" name="person" class="multiple-person" required multiple>
          {% for name in person %}
          <option value="{{ name }}">{{ name }}</option>
          {% endfor %}
        </select>
      </label>
      <div class="btn-group">
        <input type="submit" value="Criar" />
        <input type="button" value="Limpar" onclick="window.location.reload()" />
      </div>
    </form>
  </section>
{% endblock content %}